div.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #222222;
}

header {
  flex-basis: 5vh;
  background-color: black;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

main {
  padding: 30px 0px;
  flex-grow: 1;
  display: flex;
}

section.search {
  flex-basis: 20vh;
}

div.page {
  float: left;
  background-color: white;
}

div.navigation {
  float: left;
  min-width: 250px;
}

footer {
  flex-basis: 5vh;
  background-color: black;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

