nav.main {
    padding: auto;
}

.main ul {
    list-style-type: none;
}

nav.main a {
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .2s;
}

nav.main a:hover {
    transform: translateX(20px);
}

nav.main a.active {
    border-left: 10px gray solid;
    transform: translateX(0);
}

nav.main li:nth-child(1) a.active {
    border-left-color: green;
}

nav.main li:nth-child(2) a.active {
    border-left-color: blue;
}

nav.main li:nth-child(3) a.active {
    border-left-color: orange;
}

nav.main li:nth-child(4) a.active {
    border-left-color: red;
}