
div.input {
    position: relative;
    display: block;
    max-width: 600px;
    width: 50%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

img {
    max-height: 200px;
    padding-top: 10px;
    display: block;
    margin: auto;
    width: 30%;
    filter: blur(1.5px);
}