html {
    font-size: 20px;
    font-family: sans-serif;
}

li {
    line-height: 160%;
    padding: 30px;
    cursor: pointer;
}

li:nth-child(even) {
    background-color: antiquewhite;
}

li:nth-child(odd) {
    background-color: beige;
}

.enabled {
    font-weight: bold;
}

.disabled {
    color: grey;
}
