div.App {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #222222;
}

header {
  flex-basis: 30vh;
  position: relative;
  overflow: hidden;
}

main {
  padding: 30px 0px;
  flex-grow: 1;
  display: flex;
}

aside {
  min-width: 240px;
}

section.page {
  flex-grow: 1;
}

footer {
  background-color: black;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

