.contact textarea {
  font-size: 16px;
  width: 80%;
  min-height: 200px;
  margin: 20px 0;
  line-height: 1.6;
}

.contact button {
  display: block;
  margin: 0 20% 0 auto;
  border: 2px solid black;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: .2s;
  font-size: 20px;
}

.contact button:hover {
  color: yellow;
  background-color: black;
}