.products h2 {
  margin-bottom: 20px;
}

.products ul {
  list-style: square;
  padding-left: 20px;
}

.products li {
  margin-bottom: 20px;
}

.products a {
  text-decoration: none;
}

.products a:hover {
  text-decoration: underline;
  color: black;
}